{% extends "base.html" %}
{% load staticfiles %}
{% block title %}About me{% endblock %}
{% block main %}
    <h2>{{ book.title }}</h2>
    {% if book.thumbnail.name %}
        <p><img src="{% static "thumbnail/" %}{{ book.thumbnail.name }}"></p>
    {% elif book.thumbnail.volume_link %}
        <p><img src="{{ book.thumbnail.volume_link }}"></p>
    {% endif %}
    <p class="category">Категория: {{ book.category.name }}</p>
    <p>{{ book.description|linebreaksbr }}</p>
    <p><a href="{% url "index" cat_id=book.category.first.pk %}?page={{ pn }}">Назад</a></p>
{% endblock %}