{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <title>{% block title %}{% endblock %} :: АрхиВист - библиотека электронных книг</title>
</head>

<body>
    <div id="header">
        <div class="header-container">
            <div id="logo">
                <meta itemprop="logo" content="{% static "thumbnail/logo.png" %}">
                <meta itemprop="url" content="https://arhivist.pythonanywhere.com/">
                <span class="arhivist" title="АрхиВист">АрхиВист</span>
            </div>
            <div class="topmenu">
                <ul>
                    <li class="category">
                        <a id="category_popup" href="{% url "index" %}">Жанры</a>
                        <ul>
                            {% for cat in cats %}
                            <li><a href="{% url "index"  cat_id=cat.pk %}">{{ cat.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="author">
                        <a id="authors" href="{% url "index" %}?authors=all">Авторы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>Все права принадлежат разработчику сайта</p>
    </div>
</body>
</html>