{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ cat.name }}{% endblock %}
{% block main %}
    <div class="books_box">
        <ul>
        <div class="book-container">
            {% for book in books %}
                    <li>
                    <div class="container book-item">
                        <div class="seq_text">
                            <a href="{% url "book"  book_id=book.pk%}?page={{ books.number }}" title="{{ book.title }}">{{ book.title}}</a>
                        </div>
                        {% for author in book.authors.all %}
                            {{ author }}
                        {% endfor %}
                        <p><img src="{% static "thumbnail/" %}{{ book.thumbnail }}"></p>
                        <div>
                            <a href="{% url "book"  book_id=book.pk%}?page={{ books.number }}" title="{{ book.description|linebreaksbr }}">{{ book.description|truncatechars:"60" }}</a>

                        </div>
                    </div>
                    </li>

            {% endfor %}
        </div>
        </ul>
        <ul>
            {% if books.paginator.num_pages > 1 %}
                <div id="pagination">
                    {% if books.has_previous %}
                        <div id="previous-page">
                            <a href="{% url "index" cat_id=category.pk %}?page={{ books.previous_page_number }}">&lt;</a>
                        </div>
                    {% endif %}
                    {% if books.has_next %}
                        <div id="next-page">
                            <a href="{% url "index" cat_id=category.pk %}?page={{ books.next_page_number }}">&gt;</a>
                        </div>
                    {% endif %}
                    <div id="num-pages">
                        {% for pn in books.paginator.page_range %}
                            {% if not forloop.first %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}

                            {% if books.number != pn %}
                                <a href="{% url "index" cat_id=category.pk %}?page={{ pn }}">
                            {% endif %}
                        {{ pn }}
                        {% if books.number != pn %}
                            </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </ul>
    </div>
{% endblock %}