{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ cat.name }}{% endblock %}
{% block main %}
    <div class="books_box">
        <ul>
        <div class="book-container">
            {% for book in object_list %}
                    <li>
                    <div class="container book-item">
                        <div class="seq_text">
                            {% url "book"  book_id=book.pk as book_url%}
                            <a href="{{ book_url }}?page={{ page_obj.number }}" title="{{ book.title }}">{{ book.title}}</a>
                        </div>
                        {% for author in book.authors.all %}
                            {{ author }}
                        {% endfor %}
                        <p><img src="{% static "thumbnail/" %}{{ book.thumbnail.name }}"></p>
                        <div>
                            <a href="{{ book_url }}?page={{ page_obj.number }}" title="{{ book.description|linebreaksbr }}">{{ book.description|truncatechars:"60" }}</a>

                        </div>
                    </div>
                    </li>
            {% endfor %}
        </div>
        </ul>
        <ul>
            {% if paginator.num_pages > 1 %}
                <div id="pagination">
                    {% if page_obj.has_previous %}
                        <div id="previous-page">
                            {% url "index" cat_id=category.pk as cat_url %}
                            <a href="{{ cat_url }}?page={{ page_obj.previous_page_number }}">&lt;</a>
                        </div>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <div id="next-page">
                            <a href="{{ cat_url }}?page={{ page_obj.next_page_number }}">&gt;</a>
                        </div>
                    {% endif %}
                    <div id="num-pages">
                        {% for pn in paginator.page_range %}
                            {% if not forloop.first %}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}

                            {% if page_obj.number != pn %}
                                <a href="{{ cat_url }}?page={{ pn }}">
                            {% endif %}
                        {{ pn }}
                        {% if page_obj.number != pn %}
                            </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </ul>
    </div>
{% endblock %}